# Dependencies
**/node_modules
**/.next
**/build
**/.turbo
**/.env
**/.env.*

# Python
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
**/venv
**/.venv
**/env
**/.env
**/*.egg-info
**/dist
**/build

# Large files
*.wasm
*.node

# OS
.DS_Store
.idea
.vscode
*.swp